* {
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    border-radius: 7px;
    width: 150px;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
    background-color: #888;
    color: #fff;
}