body {
    padding-bottom: 500px;
}

.div1 {
    width: 200px;
    height: 200px;
    border: 2px solid #ff7606;
    background-color: #000;  
}

.ativo {
    background-color: #0b6fe8;
}

#active{
    background-color: #0b6fe8;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ff7606;
    margin-top: 5px;
    cursor: pointer;
}