* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body * {
    font-family: "Roboto", sans-serif;
}

body {
    background: linear-gradient(150deg, #0F2B05, #000000);
    height: 100vh;
    text-align: center;
}

header{
    padding: 75px 0;
}

.card {
    width: 354px;
    height: 508px;
    background-image: url(/nwl-copa/assets/bg-explorer.svg);
    display: inline-block;
    cursor: pointer;
}

.card > img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fdfdfd;
    margin-top: 90px;
    margin-bottom: 90px;
    user-select: none;
}

.info {
    color: #f7dd43;
}

.card2 {
    width: 354px;
    height: 508px;
    background-image: url(/nwl-copa/assets/bg-ignite.svg);
    display: inline-block;
}